# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Track all .dll files with Git LFS
*.dll filter=lfs diff=lfs merge=lfs -text

# Try to ensure that po files in the repo does not include
# source code line numbers.
*.po filter=cleanpo
